body {
  display: flex !important;
  background-image: url("https://images.unsplash.com/photo-1594652634010-275456c808d0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  justify-content: center !important;
  align-items: center !important;
  height: 100vh !important;
  font-size: 40px !important;
}

.btn {
  display: inline-block !important;
  border: none !important;
  color: #000 !important;
  font-weight: bold !important;
  font-size: inherit !important;
  outline: none !important;
}

.btn:hover {
  opacity: 0.9;
  border: none;
}
.btn:focus {
  box-shadow: none;
}

.btn:active {
  transform: scale(0.98);
  box-shadow: none !important;
}
