body {
  display: flex;
  background-image: url("https://images.unsplash.com/photo-1561470508-fd4df1ed90b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=876&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  background: rebeccapurple;
  color: #fff;
  font-weight: bold;
  font-size: inherit;
}

.btn:hover {
  opacity: 0.9;
}

.btn:active {
  transform: scale(0.98);
}
